.text-indent-initial {
    text-indent: initial !important;
}

form .prev-input-group .input-group-icon {
    height: 16px;
    left: 25px !important;
}

.signin-form .prev-input-group .input-group-icon.passwordeye-icon {
    left: inherit !important;
}

form .prev-input-group .input-group-icon img,
form .prev-input-group .input-group-icon svg {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.signin-card .card-header {
    padding: 30px 40px 20px;
}

.btn {
    font-size: 14px;
    font-weight: 400;
    padding: 12px 16px;
}

.modal-dialog {
    margin-left: auto;
    margin-right: auto;
}

.userlogin-dropdown .btn>img {
    width: 36px;
    height: 36px;
    border-radius: 9999px;
    object-fit: cover;
    object-position: center;
}

/* .swiper-container {width: 100%;} */
.btn-icon {
    padding: 0.375rem 0.75rem !important;
}

.food-detail-card .food-detail-card-btn {
    -moz-column-gap: 10px;
    column-gap: 10px;
}

.category-section .category-slider .category-element .card:hover,
.category-section .category-slider .category-element .card.active {
    background: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 4px 1px;
}

.swiper-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}


.category-section .category-slider .category-element .card .categoryfood-detail-card-btn {
    max-width: 90px;
}

.category-section .category-slider .category-element .card .categoryfood-detail-card-btn .btn-icon {
    padding: 5px 10px !important;
    font-size: 14px !important;
}

.category-section .swiper-container .category-swiper-slider .category-slider {
    flex-wrap: wrap;
    margin: 0px -7.5px;
}

.category-section .swiper-container .category-swiper-slider .category-slider .category-element {
    flex: 0 0 14.28%;
    max-width: 14.28%;
    padding: 0px 7.5px;
    margin-bottom: 15px;
}

.foodorder-box .foodorder-box-details .footer-box-main .footer-box-main-orderlist .footer-box-main-orderlist-main .footer-box-main-orderlist-main-item .orderRead-more {
    flex: 0 0 280px;
    max-width: 280px;
}

.foodorder-box .foodorder-box-details .footer-box-main .footer-box-main-orderlist .footer-box-main-orderlist-main .footer-box-main-orderlist-main-item .notes {
    max-width: 350px;
}

.coupons-card .card-body .inner-card .promocode-box .text-bg-white {
    font-size: 14px;
    padding: 5px 12px;
}

.coupons-card .card-body .inner-card {
    height: 262px;
}

.chatbox .chatbox-main .chats-grp .chat-item .chat-item-textgrp p::before {
    background-image: url(../images/curve-chaticon-update.svg);
    left: -11px;
    bottom: -2.5px;
}

.foodorder-box .foodorder-box-list-wrp .foodorder-box-list .foodorder-box-list-item.active {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(94, 94, 94, 1));
    border-color: transparent;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.foodorder-box .foodorder-box-list-wrp .foodorder-box-list .foodorder-box-list-item.active * {
    color: #ffffff !important;
}
.foodorder-box .foodorder-box-list-wrp .foodorder-box-list .foodorder-box-list-item.active .time svg circle {
    fill: #ffffff;
}

.foodorder-box .foodorder-box-list-wrp .foodorder-box-list .foodorder-box-list-item.active .time svg path {
    stroke: #000000;
}

.foodorder-box .foodorder-box-list-wrp .foodorder-box-list .foodorder-box-list-item.active .icontext-item svg, .foodorder-box .foodorder-box-list-wrp .foodorder-box-list .foodorder-box-list-item.active .icontext-item svg path {
    fill: #ffffff;
    stroke: #ffffff;
}

.finance_auth_section {
    background: rgb(43 42 42 / 80%);
    height: 100%;
    width: calc(100% + 40px);
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 1;
    left: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.finance_auth_section .finance_auth_form {
    flex: 0 0 360px;
    max-width: 360px;
}

.finance_auth_section .finance_auth_form .form-group .input-group-icon {
    position: absolute;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
    height: 20px;
    left: 25px !important;
}

.finance_auth_section .finance_auth_form .form-group .input-group-icon svg {
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.finance_auth_section .text-indent-initial {
    text-indent: initial !important;
}

.finance_auth_section .finance_auth_form .form-control {
    padding-left: 45px !important;
    font-size: 16px;
}

.finance_auth_section .finance_auth_form .form-control::-webkit-input-placeholder {
    font-size: 14px;
}

.finance_auth_section .finance_auth_form .form-control::-moz-placeholder {
    font-size: 14px;
}

.finance_auth_section .finance_auth_form .form-control:-ms-input-placeholder {
    font-size: 14px;
}

.finance_auth_section .finance_auth_form .form-control:-moz-placeholder {
    font-size: 14px;
}

.category-section .category-slider .category-element .card {
    padding: 15px !important;
}

.category-slide-btns .btn {
    background: #ffffff !important;
    ;
    border-color: #212529 !important;
    color: #212529 !important;
}

.category-slide-btns .btn i {
    color: #212529 !important;
}

.category-slide-btns .btn:hover i {
    color: #212529 !important;
}


.chartBox {
    position: relative;
}

.chartBox .chartLabel {
    font-size: 14px;
    color: #292929;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 40px;
    pointer-events: none;
}

.category-section .category-slider .category-element .card {
    border: 1px solid transparent;
}

.category-section .category-slider .category-element.swiper-slide-active .card {
    /*border-color: var(--theme-dark1);*/
}

.foodorder-box-list-top {
    position: relative;
    padding-top: 20px !important;
}

.foodorder-box-list-top .fixed-tab-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    left: 0px;
    right: 0px;
    top: 10px;
    padding: 10px 35px 10px 22px;
}

.foodorder-box-list-top .fixed-tab-buttons .btn-tap {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 10px;
    overflow: hidden;
    height: 40px;
    padding: 5px;
    background: #ffffff;
    color: #292929;
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.07);
    border: 0px;
    outline: none;
}

.foodorder-box-list-top .fixed-tab-buttons .btn-tap.active {
    background: var(--theme-dark1);
    color: #ffffff;
}


.menu-sidebar .menu-sidebar-content .side-bar-menu .nav-item .nav-link .order-count {
    white-space: nowrap;
    font-size: 14px;
    background: #f6f6f6;
    color: var(--theme-dark2);
    border-radius: 5px;
    padding: 8px 7px 8px;
    position: relative;
    top: 0px;
    display: inline-flex !important;
    width: 32px;
    height: 32px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 400;
}
.menu-sidebar .menu-sidebar-content .side-bar-menu .nav-item .nav-link.active .order-count,
.menu-sidebar .menu-sidebar-content .side-bar-menu .nav-item .nav-link:hover .order-count {
    background: #828282;
    color: #ffffff;
}

.menu-sidebar .menu-sidebar-content .side-bar-menu .nav-item .nav-link {
    font-size: 16px !important;
}

.menu-sidebar .menu-sidebar-content .side-bar-menu .nav-item .nav-link {
    padding: 12px 10px !important;
    white-space: nowrap;
}

@media screen and (max-width: 1600px) {
    .btn {
        font-size: 14px !important;
        padding: 8px 12px !important;
    }

    .prev-input-group .form-control {
        min-height: 44px !important;
        line-height: 44px !important;
        font-size: 14px;
    }

    .page-control .userlogin-dropdown .dropdown-toggle {
        font-size: 12px;
        padding: 6px;
        height: 40px;
    }

    .inline-imageupload-box .upload-file {
        min-height: 40px;
        border-radius: 10px;
    }

    /* .swiper-container {width: 100%;} */
    .page-control .userlogin-dropdown .dropdown-toggle .userdp-text {
        font-size: 12px;
    }

    .prev-input-group .input-group-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-sidebar .menu-sidebar-content .side-bar-menu .nav-item .nav-link {
        font-size: 16px;
        letter-spacing: 0.19px;
        padding: 10px 18px;
        border-radius: 10px;
    }

    .bd-layout {
        -moz-column-gap: 20px !important;
        column-gap: 20px !important;
    }

    .main-content {
        padding: 25px 15px 40px 0;
    }

    .page-control .btn .ms-3 {
        margin-left: 2px !important;
        font-size: 12px;
    }

    .page-control>.gap-3 {
        gap: 6px !important;
    }

    .page-control .form-control {
        height: 40px !important;
        min-height: 40px !important;
        border-radius: 10px !important;
        font-size: 12px;
    }

    .page-control .form-control::-webkit-input-placeholder {
        font-size: 12px;
    }

    .page-control .form-control::-moz-placeholder {
        font-size: 12px;
    }

    .page-control .form-control:-ms-input-placeholder {
        font-size: 12px;
    }

    .page-control .form-control:-moz-placeholder {
        font-size: 12px;
    }

    .popular-item-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
    }

    .bestselling-item-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
    }

    .food-detail-card {
        padding: 40px 20px 20px 20px;
    }

    .menu-sidebar .siderbarmenu-brand {
        margin-top: 25px;
    }

    .custom-modal .modal-header {
        padding: 20px 20px 0 20px;
    }

    .modal-body {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control,
    .form-select {
        min-height: 40px;
        max-height: 40px;
        border-radius: 10px;
        font-size: 14px;
    }

    .form-label {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .foodorder-box .foodorder-box-list-wrp .foodorder-box-list .foodorder-box-list-item {
        border-radius: 10px;
        padding: 15px;
        gap: 25px;
    }

    .foodorder-box .foodorder-box-list-wrp {
        border-radius: 10px;
        padding: 20px 20px 20px 20px;
    }

    .foodorder-box .foodorder-box-details {
        border-radius: 10px;
        padding: 20px 20px 20px 20px;
    }

    .foodorder-box .foodorder-box-details .footer-box-main .footer-box-main-orderlist {
        padding: 15px 15px 15px;
        margin: 20px 0 0;
    }

    .page-title {
        font-size: 30px;
    }

    .editdish-card .card-body {
        padding: 20px;
    }

    .customize-tab .nav-tabs .nav-item .nav-link {
        font-size: 14px;
        padding: 15px 15px;
    }

    .card-custom-body {
        padding-top: 20px;
    }

    .setting-tab .nav-tabs .nav-item .nav-link {
        min-width: 170px;
    }

    .hero-incomebox {
        border-radius: 10px;
        padding: 20px;
        margin: 20px 0 0;
    }

    .hero-incomebox .hero-incomebox-item {
        gap: 20px;
    }

    .hero-incomebox .hero-incomebox-item .text-grp .title {
        font-size: 20px;
    }

    .hero-incomebox .hero-incomebox-item .text-grp .number {
        font-size: 28px;
    }

    .income-diagrams .income-diagrams-item:nth-of-type(1) {
        padding: 20px;
        border-radius: 10px;
    }

    .income-diagrams {
        margin: 30px 0 0;
        gap: 30px;
    }

    .coupon-card-grid .coupons-card.editdish-card .card-body {
        padding: 20px 30px;
    }

    .coupon-card-grid {
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .ChatDiv {
        padding: 20px;
        border-radius: 10px;
    }

    .chatbox .chatbox-header {
        padding: 20px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .chatbox .chatbox-footer {
        padding: 20px 20px 20px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }

    .chatbox .chatbox-footer .form-group .btn-site-theme {
        height: 40px;
        padding: 8px 20px;
        border-radius: 10px;
    }

    .chatbox .chatbox-main .chats-grp {
        padding: 25px 20px 45px 20px;
    }
}

@media screen and (max-width: 1200px) {
    .menu-sidebar {
        max-width: 24vw;
        min-width: 24vw;
    }

    .signin-card .card-body {
        padding: 20px;
    }

    .popular-item-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
    }

    .bestselling-item-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
    }
}

@media screen and (max-width: 991px) {
    .finance_auth_section {
        left: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 484px) {
    .signin-card {
        max-width: 400px;
    }

    .finance_auth_section .finance_auth_form {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .signin-card {
        max-width: 310px;
    }
}

.message-date span {
    background-color: #f1efef;
    border-radius: 30px;
    padding: 5px 16px;
    font-size: 12px;
}

.category-section .category-slider .category-element.swiper-slide-admin-cart-active .card {
    border-color: var(--theme-dark1);
    /*background: var(--theme-dark1);*/
}

.category-section .category-slider .category-element .card:hover .btn-site-theme,
.category-section .category-slider .category-element .card.active .btn-site-theme {
    background: var(--theme-dark1) !important;
}


.category-section .category-slider .category-element .card:hover .btn-site-theme i,
.category-section .category-slider .category-element .card.active .btn-site-theme i {
    color: #292929 !important;
}
.category-section .category-slider .category-element .card:hover .btn-site-theme i {
    color: #ffffff !important;
}
.category-section .category-slider .category-element .card:hover .category-slide-btns .btn-site-theme i {
    color: #292929 !important;
}


.category-section .category-slider .category-element .card:hover .btn-site-theme,
.category-section .category-slider .category-element .card.active .btn-site-theme {
    background: var(--theme-dark1) !important;
    border-color: var(--theme-dark1) !important;
}

.category-section .category-slider .category-element .card:hover .category-slide-btns .btn-site-theme,
.category-section .category-slider .category-element .card.active .category-slide-btns .btn-site-theme {
    background: #ffffff !important;
    border-color: #212529 !important;
    color: #212529 !important;
}


.category-section .category-element .card .categoryfood-detail-card-btn .btn-site-theme:hover {
    background: #ffffff !important;
    border-color: var(--theme-dark1) !important;
}

.category-section .category-element .card .categoryfood-detail-card-btn .btn-site-theme:hover i {
    color: var(--theme-dark1) !important;
}

.main-content .category-section .category-element .card .category-slide-btns .btn-site-theme:hover {
    background: #ffffff !important;
    border-color: var(--theme-dark1) !important;
}

.category-section .category-element .card .category-slide-btns .btn-site-theme:hover i {
    color: var(--theme-dark1) !important;
}

.header-filter-order {
    gap: 10px;
}

.btn-grp-gap-10 {
    gap: 10px !important;
}

.header-filter-order .col {
    max-width: 270px;
}



/*.category-section .category-slider .category-element.swiper-slide-admin-cart-active .card p, .category-section .category-slider .category-element .card:hover p {*/
/*   color: #ffffff !important;*/
/*}*/

/*.category-section .category-slider .category-element.swiper-slide-admin-cart-active .card .btn-site-theme, .category-section .category-slider .category-element .card:hover .btn-site-theme {*/
/*    background-color: #ffffff !important;*/
/*    border-color: #ffffff !important;*/
/*}*/

/*.category-section .category-slider .category-element.swiper-slide-admin-cart-active .card .dish-item-icon svg, .category-section .category-slider .category-element .card:hover .dish-item-icon svg{*/
/*fill: #ffffff;*/
/*}*/

.disable-order-filters {
    pointer-events: none;
    opacity: 0.7;
}

.move-order-button {
    box-shadow: 0px 0px 9px 4px rgba(0, 0, 0, 0.07);
}

.footer-box-main-orderlist-main-item .notes {
    display: flex;
    align-items: center;
    /*border: 1px solid #dcdcdc;*/
    padding: 5px 0px;
    border-radius: 10px;
    font-size: 12px;
    line-height: normal;
}

.section-page-title .page-control .btn-site-theme {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(94, 94, 94, 1));
    color: #ffffff !important;
    border-color: var(--theme-yellow2);
    border: 0px !important;
}

.section-page-title .page-control .btn-site-theme:hover {
    background: linear-gradient(to bottom, rgba(77, 77, 77, 0.8), rgba(0, 0, 0, 1));
    color: #ffffff !important;
}

.paymentHistory-card-body tr th {white-space: nowrap;}

/* Chat Screen UI update css */
.chat-main-screen .section-page-title {margin-bottom: 20px;}
.chat-main-screen .ChatDiv-main {gap: 0px;overflow-y: hidden;}
.chat-main-screen .ChatDiv {border-top-right-radius: 0px;border-bottom-right-radius: 0px;padding: 10px;padding-top: 0px;max-width: 350px;min-height: 90vh;max-height: 90vh;}
.chat-main-screen .chatbox .chatbox-main {min-height: initial;max-height: calc(100vh - 195px);height: 100%;}
.chat-main-screen .ChatDiv .search-top {margin: 0px -8px 0px -10px;position: sticky;top: 0px;z-index: 1;background: #ffffff;}
.chat-main-screen .ChatDiv .search-top .search-box {border: 0px;border-bottom: 1px solid #dcdcdc;border-radius: 0px;font-size: 14px;padding: 5px 20px;padding-left: 50px;min-height: 60px;max-height: 60px;}
.chat-main-screen .ChatDiv .search-top svg {position: absolute;left: 20px;top: 50%;transform: translateY(-50%);z-index: 1;pointer-events: none;fill: #777777;}
.chat-main-screen .ChatDiv .search-top .search-box::-webkit-input-placeholder {font-size: 14px;}
.chat-main-screen .ChatDiv .search-top .search-box::-moz-placeholder {font-size: 14px;}
.chat-main-screen .ChatDiv .search-top .search-box:-ms-input-placeholder {font-size: 14px;}
.chat-main-screen .ChatDiv .search-top .search-box:-moz-placeholder {font-size: 14px;}
.chat-main-screen .ChatDiv-main .chatbox {border-top-left-radius: 0px;border-bottom-left-radius: 0px;box-shadow: -1px 0px 6px 0px #dcdcdc;min-height: 90vh;max-height: 90vh;}
.chat-main-screen .page-title {font-size: 24px;}
.chat-main-screen .main-content {padding-top: 15px;}
.chat-main-screen .bd-gutter {-moz-column-gap: 20px;column-gap: 20px;}
.chat-main-screen .chatbox .chatbox-header {padding: 10px 20px;height: 60px;}
.chat-main-screen .chatbox .chatbox-header .profile-item .profile-img {max-width: 40px;}
.chat-main-screen .chatbox .chatbox-header {border-bottom: 1px solid var(--theme-white3);}
.chat-main-screen .ChatDiv .ChatDiv-type .ChatDiv-list .ChatDiv-item {padding: 10px 15px;border-radius: 10px;border: 0px !important;box-shadow: none !important;filter: none !important;}
.chat-main-screen .ChatDiv .ChatDiv-type .ChatDiv-list .ChatDiv-item.active, .chat-main-screen .ChatDiv .ChatDiv-type .ChatDiv-list .ChatDiv-item:hover {background: var(--theme-yellow2) !important;}
.chat-main-screen .ChatDiv .ChatDiv-type .ChatDiv-list .ChatDiv-item .userimage {width: 40px;}
.chat-main-screen .ChatDiv .ChatDiv-type .ChatDiv-list .ChatDiv-item .text-grp .title {font-size: 14px;}
.chat-main-screen .ChatDiv .ChatDiv-type .ChatDiv-list .ChatDiv-item .text-grp .text {font-size: 10px;line-height: normal;}
.chat-main-screen .ChatDiv .chat-user-list {position: relative;}
.chat-main-screen .ChatDiv .chat-user-list .ChatDiv-type {margin-bottom: 5px;}
.chatbox .chatbox-header .profile-item .profile-textgrp .profile-title {font-size: 16px;}
.chatbox .chatbox-header .profile-item .profile-textgrp .profile-text {font-size: 12px;}
.chatbox .chatbox-header .profile-item .profile-textgrp .profile-text .inactivicon {width: 12px;height: 12px;border-radius: 9999px;}
.chat-main-screen .chatbox .chatbox-footer {padding: 20px 20px 20px;border-top: 1px solid #dcdcdc;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}
.chat-main-screen .chatbox .chatbox-footer .custom-file-upload {display: flex;align-items: center;cursor: pointer;justify-content: center;}
.chat-main-screen .chatbox .chatbox-footer .form-group .btn-site-theme {height: 40px;padding: 9px 19px;border-radius: 10px;font-size: 16px;cursor: pointer;width: 80px;display: flex;align-items: center;font-family: "Poppins", sans-serif;line-height: 1.4;font-weight: 500;}
.chat-main-screen .chatbox .chatbox-footer .form-group {border-radius: 10px;padding: 5px 10px;}
.chat-main-screen .chatbox .chatbox-main .chats-grp {padding: 32px 20px 56px 20px;width: calc(100% + 4px);}
.chat-main-screen .chatbox .chatbox-main .chats-grp::-webkit-scrollbar {width: 5px;}
.chat-main-screen .chatbox .chatbox-main .chats-grp .chat-item>.img-fluid {width: 40px;}
.chat-main-screen .chatbox .chatbox-main .chats-grp .chat-item .chat-item-textgrp p {padding: 10px 15px 10px 15px;border-radius: 10px;font-size: 14px;margin-bottom: 2px;}
.chat-main-screen .chatbox .chatbox-main .chats-grp .chat-item .chat-item-textgrp small {font-size: 12px;}
.chat-main-screen .chatbox .chatbox-footer .form-group .form-control {font-size: 14px;}
.chat-main-screen .chatbox .chatbox-footer .form-group .form-control::-webkit-input-placeholder {font-size: 14px;}
.chat-main-screen .chatbox .chatbox-footer .form-group .form-control::-moz-placeholder {font-size: 14px;}
.chat-main-screen .chatbox .chatbox-footer .form-group .form-control:-ms-input-placeholder {font-size: 14px;}
.chat-main-screen .chatbox .chatbox-footer .form-group .form-control:-moz-placeholder {font-size: 14px;}
.chat-main-screen .chatbox .chatbox-footer .image-holder .attachImage {object-fit: contain;width: 70px !important;height: 70px !important;object-position: center;background: #ffffff;padding: 5px;margin-right: 0px;}
.chat-main-screen .chatbox .chatbox-footer .form-group #image-holder {position: absolute;background: whitesmoke;width: 100%;left: 0px;right: 0px;padding: 10px 10px 10px;top: -89px;border-radius: 10px 8px 0px 0px;border-bottom: 1px solid #dcdcdc;gap: 10px;}
.chat-main-screen .chatbox .chatbox-footer .form-group #image-holder:empty {display: none !important;}
.chat-main-screen .chatbox .chatbox-footer .form-group #image-holder .image-group {position: relative;}
.chat-main-screen .chatbox .chatbox-footer .form-group .image-holder .image-group:empty {display: none !important;}
.chat-main-screen .chatbox .chatbox-footer .form-group #image-holder .remove-image {border-radius: 9999px;font-size: 12px;padding: 3px 4px;top: 5px;right: -15px;}
.chat-main-screen .chat-item-textgrp a>img {object-fit: contain;object-position: center;}
.hidden-important {
    display: none !important;
}

.chat-main-screen .chatbox .chatbox-footer .btn-site-theme {
    background-color: var(--theme-dark2) !important;
    border-color: var(--theme-dark2) !important;
    color: #ffffff !important;
}

.category-swiper-slider .swiper-slide .card svg path {
  fill: #828282 !important;
}

.category-swiper-slider .swiper-slide.swiper-slide-admin-cart-active .card svg path {
    fill: #292929 !important;
  }

/* Order page update UI css starts */

.header-filter-order .select-options {min-width: 100px;position: relative;}.header-filter-order .select-options::after {content: "\f107";font-family: "Font Awesome 6 Free";top: 50%;transform: translateY(-50%);right: 12px;font-weight: 900;position: absolute;pointer-events: none;}
.header-filter-order .select-options .form-control {background-color: #ffffff !important;background-image: none !important;}
/* .foodorder-box .foodorder-box-list-wrp {max-height: calc(100vh - 138px) !important;} */
.foodorder-box .foodorder-box-details .footer-box-main {max-height: calc(100vh - 270px) !important;overflow: auto;padding-right: 5px;padding-bottom: 5px;}
.footer-btn-sticky {bottom: 0px !important;}
.foodorder-box .foodorder-box-details .foodorder-box-details-footer {position: relative;top: 0px;margin-top: auto;}
.foodorder-box .foodorder-box-details .footer-box-main .footer-main-total {margin: 10px 0 0;}
.foodorder-box .foodorder-box-details .footer-box-details-header {flex-wrap: nowrap !important;}
.foodorder-box .foodorder-box-details .footer-box-main .footer-box-main-orderlist .footer-box-main-orderlist-main {min-height: initial !important;}
.foodorder-box .foodorder-box-list-wrp .foodorder-box-list {padding-bottom: 2px !important;}
.foodorder-box .foodorder-box-details .footer-box-details-header .text-grp li {font-size: 16px !important;}
.foodorder-box .foodorder-box-details .footer-box-details-header .contact-list  {flex: none;}
.foodorder-box .foodorder-box-list-wrp .foodorder-box-list {max-height: calc(100vh - 150px) !important;}
.foodorder-box {margin-top: 14px !important;}
.food-order-main-content {padding-top: 25px !important;padding-bottom: 20px !important;}
.food-order-main-content .foodorder-box .foodorder-box-details .footer-box-main .footer-box-main-orderlist .footer-box-main-orderlist-main {
max-height: none !important;
}

.category-section .swiper-container {
    width: 100%;
}
.page-link {
    color: var(--theme-dark2) !important;
}
.active>.page-link, .page-link.active {
    background: var(--theme-dark2) !important;
    color: #ffffff !important;
    border-color: var(--theme-dark2) !important;
}


@media screen and (min-width: 1600px) {
    .foodorder-box .foodorder-box-details .footer-box-main {max-height: calc(100vh - 320px) !important;}
    .foodorder-box .foodorder-box-details .archive-footer-box-main {max-height: calc(100vh - 221px) !important;}
    .foodorder-box .foodorder-box-list-wrp .foodorder-box-list {max-height: calc(100vh - 170px) !important;}
}
/* Order page update UI css ends */

.footer-box-main-orderlist-main-item {
    position: relative;
}
.footer-box-main-orderlist-main-item .orderRead-more{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}
.footer-box-main-orderlist-main-item .orderRead-more .content-for-orders {
    padding-top: 0px;
}

@media screen and (max-width: 1440px) {
.category-section .swiper-container .category-swiper-slider .category-slider .category-element {
    flex: 0 0 20%;
    max-width: 20%;
   }
    .menu-sidebar .sidebar-menu-top-box {
        padding: 20px 5px 20px 10px !important;
    }
}

@media screen and (max-width: 1200px) {
    .category-section .swiper-container .category-swiper-slider .category-slider .category-element {
        flex: 0 0 25%;
        max-width: 25%;
       }
    }




.content-for-orders .items-additional li {
    list-style-type: none;
}
.content-for-orders ul {
    padding-left: 15px;
}

/* language dropdown css*/
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select {
    position: relative;
    font-family: Arial, sans-serif;
}

.custom-select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.custom-select-trigger img {
    margin-right: 10px;
}

.custom-options {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 2;
}

.custom-options .custom-option {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.custom-options .custom-option img {
    margin-right: 10px;
}

.custom-options .custom-option:hover,
.custom-options .custom-option.selected {
    background-color: #f0f0f0;
}

.dishOptionRow .dishOptionCol {
    flex: 0 0 22%;
    max-width: 22%;
}

.dishOptionRow .dishBtnAddCol {
    flex: 0 0 12%;
    max-width: 12%;
}
.dishOptionRow .dishBtnAddCol button {width: 100%;}


.menu-sidebar .menu-sidebar-content .side-bar-menu .nav-item .nav-link .icon-span {
    width: 22px !important;
    display: inline-block !important;
    max-width: 22px !important;
}

.menu-sidebar .menu-sidebar-content .side-bar-menu .nav-item .nav-link svg {
    width: 22px !important;
}

@media screen and (max-width: 1440px) {
    .dishOptionRow .dishOptionCol {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .dishOptionRow .dishBtnAddCol {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.horizontal_tab_setting {
    display: flex;
    align-items: flex-start;
    column-gap: 60px;
}
.horizontal_tab_setting .nav-tabs {
    flex: 0 0 260px;
    max-width: 260px;
    border: 0px;
    column-gap: 0px;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 20px;
}

.horizontal_tab_setting .tab-content {
    flex: auto;
    border: 0px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: none;
}
.customize-tab.horizontal_tab_setting  .nav-tabs .nav-item {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.customize-tab.horizontal_tab_setting .nav-tabs .nav-item .nav-link {
    border-radius: 0px !important;
    padding: 10px 30px;
    text-align: left;
    font-size: 16px;
    color: #727272;
    border-right: 5px solid transparent;
}
.customize-tab.horizontal_tab_setting .nav-tabs .nav-item .nav-link:hover, .customize-tab.horizontal_tab_setting .nav-tabs .nav-item .nav-link.active {
    background: #F2F2F2 !important;
    border-right-color: #292929;
    color: #292929;
}

.btn-site-theme {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(94, 94, 94, 1));
    border: 0px !important;
    color: #ffffff;
  }

  .btn-site-theme:hover,
  .btn-site-theme:active {
    color: #ffffff;
    background: linear-gradient(to bottom, rgba(77, 77, 77, 0.8), rgba(0, 0, 0, 1));
    border-color: transparent;
  }

  .btn-site-theme.btn:active {
    color: #ffffff;
    background-color: var(--theme-dark1);
    border-color: var(--theme-dark1);
  }

  .paymentHistory-table .custom-switch .form-check-label {
    font-size: 16px;
  }

  .menu-sidebar .offcanvas-body {
    padding-bottom: 20px !important;
  }

  .search-has .form-control-feedback::before {color: var(--theme-dark2);}

  .menu-sidebar .sidebar-menu-top-box {
    width: 100%;
    text-align: center;
    padding: 24px 0px;
    position: relative !important;
    z-index: 2;
    bottom: 0px;
    background: #ffffff;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}
  .menu-sidebar .menu-sidebar-inner {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 0;
    display: block !important;
    /* padding-left: 0.25rem; */
    /* margin-left: -0.25rem; */
}
  .menu-sidebar .sidebar-menu-top-box .dropdown {
    font-size: 15px;
  }

  .sidebar-menu-top-box .text-truncate {
    font-size: 12px;
    color: #a4a4a4;
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
}
  .menu-sidebar .sidebar-menu-top-box .menu-signsignup-link>a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
  }
  .menu-sidebar .sidebar-menu-top-box .userPhoto {
    border-radius: 6px;
    overflow: hidden;
    width: 45px;
    flex: 0 0 45px;
    max-width: 45px;
    height: 45px;
  }

  .menu-sidebar .sidebar-menu-top-box .userPhoto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .menu-sidebar .sidebar-menu-top-box .dropdown-menu {
    background: transparent;
    border: 0px;
    border-radius: 0px;
  }

  .menu-sidebar  .sidebar-menu-top-box .dropdown-menu .log-out-item {
    display: inline-flex;
    width: auto;
    background: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcdcdc;
    padding: 10px 15px;
    color: #727272 !important;
    column-gap: 10px;
  }

  .menu-sidebar .sidebar-menu-top-box .dropdown-menu .log-out-item:hover {
    background: #f3f3f3;
  }

  .menu-sidebar {
    padding-left: 0 !important;
    margin-left: 0 !important;
    overflow-y: initial !important;
}

.menu-sidebar .siderbarmenu-brand {
    text-align: left;
    padding: 0px 10px 20px 10px;
    border-bottom: 1px solid #dee2e6;
    margin-left: 20px;
    margin-right: 20px;
}
