:root[data-theme="dark"] {

    --theme-dark1: #999999;
    --theme-dark2: #888888;
    --theme-dark3: #4d4d4d;

    --theme-gray1: #1E1E1E;
    --theme-gray2: #585858;
    --theme-gray3: #6d6d6d;
    --theme-gray4: #353232;
    --theme-gray5: #a9a9a9;
    --theme-gray6: #949494;
    --theme-gray7: #606060;
    --theme-gray8: #282828;
    --theme-gray9: #141414;
    --theme-gray10: #BCBCBC;

    // --theme-white: #ffffff; //

    --theme-bg-white: #0D0D0D;
    --theme-text-white: #ffffff;

    --theme-white1: #626262;
    --theme-white2: #7f7f7f;
    --theme-white3: #575757;
    --theme-white4: #3B3B3B;
    --theme-white5: #161616;
    --theme-white6: #D1D1D1;

    --theme-yellow1: #FDC016;
    --theme-yellow2: #FFC824;
    --theme-yellow3: #7d5c0c;
    --theme-yellow4: #46391a;
    --theme-yellow5: #564104;
    --theme-lightyellow: #FFF8E2;
    --theme-darkyellow: #947313;

    --theme-muted: #A098AE;

    --theme-success1: #3BCE62;
    --theme-success2: #049A2C;
    --theme-success3: #4ECA39;
    --theme-success4: #62D84E;

    --theme-black: #000000;

    --theme-text-black: #8a8a8a;
    --theme-bg-black: #000000;

    --theme-danger1: #E36E49;

    --theme-cyan1: #D1E8FF;

    --theme-light: #dddddd;
    --theme-dark: #000;

    --theme-input-bgcolor: #282828;

    --theme-shadow: rgba(40, 40, 40, 0.6);

    .table {
        --bs-table-bg: transparent;
    }

    .card {
        --bs-card-bg: var(--theme-bg-white);
    }

    .cke_toolgroup,a.cke_combo_button {
        background: transparent !important;
        background-image: none;
    }

    .form-select {
        background-color: var(--theme-input-bgcolor);
        --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23888888' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }

    .pagination-row {
        .text-muted {
            color: var(--theme-dark2) !important;
            .text-dark {
                color: var(--theme-dark3) !important;
            }
        }
    }

    .bg-white {
        background-color: var(--theme-bg-white) !important;
    }

    .form-control {
        background-color: var(--theme-input-bgcolor);

        &:focus {
            color: var(--theme-dark2);
        }
    }

    .btn {
        --bs-btn-bg: var(--theme-bg-white);

        &:hover {
            --bs-btn-hover-bg: var(--theme-white3);
        }
    }

    .input-group-text {
        color: var(--theme-text-white);
        border-color: var(--theme-white3);
        --bs-tertiary-bg: var(--theme-input-bgcolor);
    }

    .modal {
        --bs-modal-bg: var(--theme-white5);
    }

    [fill="#292929"] {
        fill: var(--theme-dark2);
    }

    [stroke="#292929"] {
        stroke: var(--theme-dark2);
    }

    // [fill="#ffffff"] {
    //     fill: var(--theme-bg-white);
    // }

    // [stroke="#292929"] {
    //     stroke: var(--theme-dark2);
    // }
}