

$dark1: #2E2E2E;
$dark2: #292929;
$dark3: #4d4d4d;
$gray1: #F5F5F5;
$gray2: #DBDBDB;
$gray3: #929292;
$gray4: #857e7e;
$gray5: #727272;
$gray6: #949494;
// $gray7: #9C9C9C;
$gray7: #F1F1F1;
$gray8: #FAFAFA;
$gray9: #F8F8F8;
$gray10: #BCBCBC;
$white: #ffffff;
$white1: #f6f6f6;
$white2: #fefefe;
$white3: #d9d9d9;
$white4: #D1D1D1;
$yellow1: #F8B602;
$yellow2: #FFC00B;
$yellow3: #f0c868;
$yellow4: #af8e40;
$yellow5: #d7a209;
$lightyellow: #FFF8E2;
$darkyellow: #947313;
$muted: #A098AE;
$success1: #3BCE62;
$success2: #049A2C;
$success3: #4ECA39;
$black: #000000;
$danger1: #E36E49;


$light: #dddddd;
$dark: #000;