:root,
:root[data-theme="light"] {

    --theme-dark1: #2E2E2E;
    --theme-dark2: #292929;
    --theme-dark3: #4d4d4d;

    --theme-gray1: #F5F5F5;
    --theme-gray2: #DBDBDB;
    --theme-gray3: #929292;
    --theme-gray4: #857e7e;
    --theme-gray5: #727272;
    --theme-gray6: #949494;
    --theme-gray7: #9C9C9C;
    --theme-gray7: #F1F1F1;
    --theme-gray8: #FAFAFA;
    --theme-gray9: #F8F8F8;
    --theme-gray10: #BCBCBC;

    --theme-white: #ffffff;

    --theme-bg-white: #ffffff;
    --theme-text-white: #ffffff;

    --theme-white1: #f6f6f6;
    --theme-white2: #fefefe;
    --theme-white3: #d9d9d9;
    --theme-white4: #D1D1D1;
    --theme-white5: #FFFAEC;
    --theme-white6: #f2f2f2;

    --theme-yellow1: #F8B602;
    --theme-yellow2: #FFC00B;
    --theme-yellow3: #f0c868;
    --theme-yellow4: #af8e40;
    --theme-yellow5: #d7a209;
    --theme-lightyellow: #FFF8E2;
    --theme-darkyellow: #947313;

    --theme-muted: #A098AE;

    --theme-success1: #3BCE62;
    --theme-success2: #049A2C;
    --theme-success3: #4ECA39;
    --theme-success4: #62D84E;

    --theme-black: #000000;

    --theme-text-black: #000000;
    --theme-bg-black: #000000;

    --theme-danger1: #E36E49;

    --theme-cyan1: #D1E8FF;

    --theme-light: #dddddd;
    --theme-dark: #000;

    --theme-input-bgcolor: #fff;

    --theme-shadow: rgba(228, 228, 228, 0.6);
}