:root[data-theme="dark"] {
    --theme-dark1: #999999;
    --theme-dark2: #888888;
    --theme-gray1: #1E1E1E;
    --theme-gray2: #585858;
    --theme-gray3: #3a3a3a;
    --theme-gray4: #353232;
    --theme-gray5: #727272;
    --theme-gray6: #949494;
    --theme-gray7: #606060;
    --theme-gray8: #282828;
    --theme-gray9: #4f4f4f;
    --theme-gray10: #4d4d4d;
    --theme-gray11: #3c3c3c;
    --theme-gray12: #3e3e3e;
    --theme-bg-white: #0D0D0D;
    --theme-text-white: #ffffff;
    --theme-white1: #626262;
    --theme-white2: #7f7f7f;
    --theme-white3: #575757;
    --theme-white4: #616161;
    --theme-white5: #161616;
    --theme-yellow1: #FDC016;
    --theme-yellow2: #FFC824;
    --theme-yellow3: #7d5c0c;
    --theme-yellow4: #46391a;
    --theme-yellow5: #564104;
    --theme-lightyellow: #FFF8E2;
    --theme-lightyellow2: #FFE599;
    --theme-darkyellow: #947313;
    --theme-muted: #A098AE;
    --theme-success1: #3BCE62;
    --theme-success2: #049A2C;
    --theme-success3: #4ECA39;
    --theme-success4: #62D84E;
    --theme-text-black: #8a8a8a;
    --theme-bg-black: #000000;
    --theme-lightgray: #5b5b5b;
    --theme-lightgray1: #BEBEBE;
    --theme-lightgray2: #141414;
    --theme-cyan1: #D1E8FF;
    --theme-shadow: rgba(40, 40, 40, 0.6);
    --theme-chat-box: #ffffff;
    --theme-input-textcolor: #fff;
    --theme-input-bgcolor: #282828;

    .btn-close {
        --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    }

    .offcanvas, .offcanvas-lg, .offcanvas-md, .offcanvas-sm, .offcanvas-xl, .offcanvas-xxl {
        --bs-offcanvas-bg: var(--theme-bg-black);
    }

    .table {
        --bs-table-bg: transparent;
    }

    .modal {
        --bs-modal-bg: var(--theme-white5);
    }

    .card {
        --bs-card-bg: var(--theme-bg-white);
    }

    .bg-white {
        background-color: var(--theme-bg-white) !important;
    }

    .form-control {
        background-color: var(--theme-input-bgcolor);

        &:focus {
            color: var(--theme-dark2);
        }
    }

    .btn {
        --bs-btn-bg: var(--theme-bg-white);

        &:hover {
            --bs-btn-hover-bg: var(--theme-white3);
        }
    }

    .input-group-text {
        color: var(--theme-text-white);
        border-color: var(--theme-white3);
        --bs-tertiary-bg: var(--theme-input-bgcolor);
    }
    

    .accordion {
        --bs-accordion-bg: transparent;
    }

    [fill="#292929"] {
        fill: var(--theme-dark2);
    }

    [stroke="#292929"] {
        stroke: var(--theme-dark2);
    }

    [fill="#ffffff"] {
        fill: var(--theme-bg-white);
    }

    [fill="#2E2E2E"] {
        fill: var(--theme-dark1);
    }

    // [stroke="#292929"] {
    //     stroke: var(--theme-dark2);
    // }
}

// @media (prefers-color-scheme: dark) {
//     :root {

//         --theme-dark1: #999999;
//         --theme-dark2: #888888;
//         --theme-gray1: #1E1E1E;
//         --theme-gray2: #585858;
//         --theme-gray3: #3a3a3a;
//         --theme-gray4: #353232;
//         --theme-gray5: #727272;
//         --theme-gray6: #949494;
//         --theme-gray7: #606060;
//         --theme-gray8: #282828;
//         --theme-gray9: #4f4f4f;
//         --theme-gray10: #4d4d4d;
//         --theme-gray11: #3c3c3c;
//         --theme-gray12: #3e3e3e;
//         --theme-bg-white: #0D0D0D;
//         --theme-text-white: #ffffff;
//         --theme-white1: #626262;
//         --theme-white2: #7f7f7f;
//         --theme-white3: #575757;
//         --theme-white4: #616161;
//         --theme-white5: #161616;
//         --theme-yellow1: #FDC016;
//         --theme-yellow2: #FFC824;
//         --theme-yellow3: #7d5c0c;
//         --theme-yellow4: #46391a;
//         --theme-yellow5: #564104;
//         --theme-lightyellow: #FFF8E2;
//         --theme-lightyellow2: #FFE599;
//         --theme-darkyellow: #947313;
//         --theme-muted: #A098AE;
//         --theme-success1: #3BCE62;
//         --theme-success2: #049A2C;
//         --theme-success3: #4ECA39;
//         --theme-success4: #62D84E;
//         --theme-text-black: #8a8a8a;
//         --theme-bg-black: #000000;
//         --theme-lightgray: #5b5b5b;
//         --theme-lightgray1: #BEBEBE;
//         --theme-lightgray2: #141414;
//         --theme-cyan1: #D1E8FF;
//         --theme-shadow: rgba(40, 40, 40, 0.6);
//         --theme-chat-box: #ffffff;
//         --theme-input-textcolor: #fff;
//         --theme-input-bgcolor: #282828;

//         .table {
//             --bs-table-bg: transparent;
//         }


//         [fill="#292929"] {
//             fill: var(--theme-dark2);
//         }

//         [stroke="#292929"] {
//             stroke: var(--theme-dark2);
//         }

//         [fill="#ffffff"] {
//             fill: var(--theme-bg-white);
//         }

//         // [stroke="#292929"] {
//         //     stroke: var(--theme-dark2);
//         // }
//     }

// }